.ipynb_checkpoints
patternrecognition/05_DecisionTrees/c45_tree.png
patternrecognition/05_DecisionTrees/oc1_tree.png
patternrecognition/05_DecisionTrees/cart_tree.png
patternrecognition/05_DecisionTrees/cart_tree_corr.png
patternrecognition/05_DecisionTrees/cart_tree_to_pruce.png
patternrecognition/05_DecisionTrees/featured_oc1_tree.png

patternrecognition/05_DecisionTrees/.ipynb_checkpoints
patternrecognition/04_Clustering/.ipynb_checkpoints
